.wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.bkg {
    background-color: #262a32;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: #262a32;
}

#header {
    place-content: center;
}

#head {
    justify-items: center;
    font-family: Lato-ExtraBold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 31.65455pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

#main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-self: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    border: 1px solid black;
}

.alt_card h3 {
    font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 40.69872pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.t31 {
    font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 31.65455pt;
    color: rgba(134, 131, 128, 255);
    text-align: left;
}

.col {
    justify-self: center;
    align-self: center;
    margin: 1%;
}

#footer {
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#logo::after {
    content: url("/img/mobile/Logo.png");
    display: block;
    width: 6.9%;
    background-size: cover;
    align-self: center;
    justify-self: center;
    margin: auto;
    padding-top: .5%;
}

#logo {
    width: 100%;
    background-color: white;
    clear: both;
    margin-top: 0;
}

.down_arrow::after {
    content: url("/img/mobile/arrow_down.png");
    filter: invert(1);
    margin: 1rem;
    border: 1px solid cyan;
}

.down_arrow {border: 1px solid sandybrown;}

.t108 {
    font-family: Lato-ExtraBold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 108.5299pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.t54 {
    font-family: Lato-ExtraBold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 54.26495pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}